*{
    font-family: cursive;
}
h1{
    padding-bottom: 25px;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}
.container>div{
    padding: 10px;
}
.menu-item{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(173, 169, 169);
}
.menu-item h2{
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}
.navbar-brand{
    font-weight: bold;
    font-size: 2em;
}
#nav-list a:hover {
    background: #E7E7E7;
  }

ul li{
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 0;
}

.collapse.navbar-collapse{
    border:5px solid gray;
}
